node_modules/
dist/
unpackage/
.hbuilderx/

.gradle/
build/
*/build/
*.apk
*.aab
*.keystore
local.properties

target/
logs/
*.log

.idea/
.vscode/
*.iml

.env
.env.*
application-local.yml
application-dev.yml